html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
banner-img {
  background: url('./images/index_header_image.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}